body{
    width:50%;
    margin:auto;
    margin-top:25px;
    font-family: "DM Sans", sans-serif;
}

p{
    font-size:14pt;
}

h1{
    font-size:28pt;
}

h3{
    margin-bottom: unset;
}

#usability p{
    margin-top:unset;
}

img{
    width:80%;
    display:flex;
    margin:auto;
}

article{
    margin-bottom:100px;
}