body{
    font-family: "DM Sans", sans-serif;
}

h1{
    text-align: center;
}

p{
    font-size:14pt;
}

section{
    display: flex;
    margin:auto;
    width:80%;
}

img{
    height:auto;
    width:90%;
    margin:auto;
    padding-bottom: 20px;
}
div p{
    width:90%;
    margin:auto;
    padding-bottom: 8px;
}

section div{
    margin:auto;
    display:grid;
}

section div p a{
    color:black;
}