body{
    background-image: url(images/back.png) ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0% 15%;
}

.draggable{
    min-height: 6.5em;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
}

.liquid img{
    width:100px;
    height:300px;
}

.dry img{
    width:50px;
    height:200px;
}

#items{
    display: flex;
    margin-top:10%;
    justify-content: center;
    align-items: end;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.fa-solid{
    cursor:pointer;
    padding:10px;
}

footer{
    display:flex;
    gap:30px;
    position:absolute;
    bottom:0;
    left:20px;
}

footer p a{
    text-decoration: none;
    color: gray;
}
