<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <title>Coding Components & Feasibility Report</title>
</head>
<body>
    <h1>Coding Components & Feasibility Report </h1>
    <section>
        <p>I plan to include a storyline that gives the user a brief summary of the current climate and environment. It then directs them to a generator where they can choose different articles of clothing, such as a gas mask or plated shield to protect them from the environment. After they choose the clothing, it puts it all together.</p>
        <p>I will have to use a sliding gallery for the user to pick the clothes and animate on scroll library to tell the story.</p>
        <p>I will have to find the sliding gallery library and learn how to input the animate on scroll library into my code. It should be doable in the timeframe. The most time I will have to dedicate is drawing the clothing and using event listeners to transition each page.</p>
    </section>






        
</body>
</html>